# Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.ipr
*.iws

# OS
.DS_Store

# Logs and temp
*.log
*.tmp
*.bak
hs_err_pid*
*.hprof

# Maven generated
dependency-reduced-pom.xml
.factorypath
.apt_generated/
